/* Styles */
@import url(./styles/navbar.css);
@import url(./styles/swiper.css);
@import url(./styles/themeColor.css);
@import url(./styles/creatorCard.css);
@import url(./styles/card.css);
@import url(./styles/footer.css);

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

/* Iconos */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root 
{
    --c_background: #272727;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    list-style: none;
    outline: none;
    appearance: none;
    border: none;
    
    font-family: 'Fredoka', sans-serif;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5px;

    font-weight: 300;

    background: var(--c_background);
}

.hidden{
    display: none;
    transition: 0.5s ease-in-out;
}

.disabled{
    pointer-events: none;
    opacity: .4;
    transition: 0.5s ease-in-out;
}