@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

:root 
{
    --c_BgUp: #ee4b4b;
    --c_BgDown: #ebebeb;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: 'Fredoka', sans-serif;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-weight: 300;

    background: linear-gradient( var(--c_BgUp) 50%, var(--c_BgDown) 50%, var(--c_BgDown) 100%);
}

.card 
{
    position: relative;
    overflow: hidden;

    width: 300px;
    height: 400px;
    
    display: flex;

    background: #ffffff;
    box-shadow: 0 15px 45px rgba(0,0,0,0.1);

    transition: 0.5s ease-in-out;
}

.card:hover 
{
    width: 600px;
}

.imgBx 
{
    position: relative;
    overflow: hidden;
    z-index: 2;
    
    min-width: 300px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
}

.imgBx img 
{
    max-width: 250px;
    transition: 0.5s ease-in-out;
}

.card:hover .imgBx img
{
    transform: rotate(15deg);
}

.details 
{
    position: absolute;
    z-index: 1;
    left: 0;

    min-width: 300px;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    background: var(--c_BgUp);
    color: #ffffff;

    transition: 0.5s ease-in-out;
}

.card:hover .details{
    left: 300px;
}

.details::before 
{
    content: '';
    position: absolute;
    
    left: 0;
    width: 0;
    height: 0;
    
    /* Triangulo */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
}

.details .title
{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.details .productDetails
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details .cardOptions .size 
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details .cardOptions .size .selector
{
    display: flex;
    gap: 10px;
}

.details .cardOptions .size .selector .selectorItem
{   
    position: relative;

    width: 40px;
    height: 40px;

    border: 1px solid #ffffff;
}

.details .cardOptions .size .selector .selectorItem:hover
{
    background: #ffffff;
    color: var(--c_BgUp);
}

.details .cardOptions .size .selector .selectorItem input
{
    appearance: none;
    display: none;
} 

.details .cardOptions .size .selector .selectorItem label
{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s ease-in-out;
}

.details .cardOptions .size .selector .selectorItem input:checked + label
{   
    background: #ffffff;
    color: var(--c_BgUp);
}

.details .cardOptions .addCart 
{
    display: flex;
    justify-content: space-between;
}

.details .cardOptions .addCart .price {
    display: flex;
    align-items: baseline;
}

.details .cardOptions .addCart .price h2 {
    align-self: flex-start;
    font-weight: 400;
}

.details .cardOptions .addCart button
{
    cursor: pointer;
    border: none;
    padding: 0 20px;

    font-weight: 400;
    font-size: .9rem;

    color: var(--c_BgUp);
}

.details .cardOptions .addCart button:hover
{
    border: 2px solid #ffffff;
    background: var(--c_BgUp);
    color: #ffffff;
}

.details .cardOptions 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.space {
    height: 20px;
    width: 20px;
}