@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

:root 
{
    --c_navBar: #1d1d1d;
    --c_logo: #016fff;
    --c_logoFont: #fff;
    
    --c_on: #ebebeb;
    --c_off: #9c9c9c;

    --c_background: #272727;

    --c_panelCreateCard: #016fff;
    --c_panelCardFont: #ececec;

    --c_encapsulado: #f8f8f80e;

    --c_heart: #fa3b3b;
    
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: 'Fredoka', sans-serif;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;

    font-weight: 300;

    background: var(--c_background);
}

/* Swiper Styles ------------------------------- */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide {
    width: 60%;
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }

/* navBar --------------------------------- */

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 20px 60px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--c_navBar);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.377);
}  

.navbarLogo {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}

.navbarLogo i {
    font-size: 1.9rem;
    color: var(--c_logo);
}

.navbarLogo p {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--c_logoFont);
}

.navbarMenu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.ligthDarkMode{
    font-size: 1.9rem;
    color: var(--c_off);
}

.ligthDarkMode:hover{
    color: var(--c_on);
}

.ligthDarkMode .fa-moon{
    display: none;
}

.ligthDarkMode input{
    display: none;
    appearance: none;
}

.ligthDarkMode label{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.ligthDarkMode input:checked ~ label .fa-sun{
    display: none;
}

.ligthDarkMode input:checked ~ label .fa-sun ~ .fa-moon{
    display: block;
}

.ligthDarkMode input:not(:checked) ~ label .fa-sun{
    display: block;
}

.ligthDarkMode input:not(:checked) ~ label .fa-sun ~ .fa-moon{
    display: none;
}

/* Panel creacion card ------------------------------------- */

.panelCreateCard {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.panel{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.panel h1{
    align-self: flex-start;
    color: var(--c_panelCardFont);
}

.panel form{
    position: relative;
    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 50px;
    
    border-radius: 9px;
    background: var(--c_panelCreateCard);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.377);
}

.panel .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

    color: var(--c_panelCardFont);
}

.panel .info div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Card CSS ------------------------------------------------------------- */

.encapsulado {
    max-width: 95%;
    height: 480px;
}

.card 
{
    position: relative;

    width: 300px;
    height: 400px;
    
    display: flex;

    background: #ffffff;
    box-shadow: 0 5px 12px rgba(126, 126, 126, 0.548);

    transition: 0.5s ease-in-out;
}

.card:hover 
{
    width: 600px;
}

.imgBx 
{
    position: relative;
    overflow: hidden;
    z-index: 2;
    
    min-width: 300px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
}

.imgBx img 
{
    max-width: 250px;
    transition: 0.5s ease-in-out;
}

.card:hover .imgBx img
{
    transform: rotate(15deg);
}

.details 
{
    position: absolute;
    z-index: 1;
    left: 0;

    min-width: 300px;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    color: #ffffff;

    transition: 0.5s ease-in-out;
}

.card:hover .details{
    left: 300px;
}

.details::before 
{
    content: '';
    position: absolute;
    
    left: 0;
    width: 0;
    height: 0;
    
    /* Triangulo */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
}

.details .title
{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.productDetails
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.size 
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selector
{
    display: flex;
    gap: 10px;
}

.selectorItem
{   
    position: relative;

    width: 40px;
    height: 40px;

    border: 1px solid #ffffff;
}

.selectorItem:hover
{
    background: #ffffff;
}

.selectorItem input
{
    appearance: none;
    display: none;
} 

.selectorItem label
{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s ease-in-out;
}

.selectorItem input:checked + label
{   
    background: #ffffff;
}

.cardOptions 
{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
}

.addCart 
{
    display: flex;
    justify-content: space-between;
}

.price  {
    display: flex;
    align-items: center;
    gap: 2px;

    font-size: 1.3rem;
}

.addCart button
{
    cursor: pointer;
    border: none;
    padding: 0 20px;

    font-weight: 400;
    font-size: .9rem;
}

.cardOptions .addCart button:hover
{
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* footer ------------------------------------ */

.footer {
    position: fixed;
    bottom: 0;
    margin: 40px;

    display: flex;
    align-items: center;
    gap: 9px;

    font-size: 1.3rem;
    color: var(--c_on);
}

.footer a{
    text-decoration: none;
    font-weight: 400;
    color: var(--c_logo);
}

.footer .fa-heart {
    color: var(--c_heart);
}
