:root{
    --c_panelCreateCard: #016fff;

    --c_creatorCardBackground: #016fff;
    --c_creatorCardImgBackground: #fff;
    --c_creatorCardPlaceHolder: #cccccc;
    --c_creatorCardFont: #ffffff;

    --c_buttonAdd: #2af134;
    --c_buttonDelete: #fa3b3b;
}

.navbar__menu__create-card > input:checked ~ .create-card__panel-wrap{
    display: block;

    transition: 0.5s ease-in-out;
}

.create-card__panel-wrap {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;

    display: none;
}

/* Fondo -------------------------------------------------------------------*/
.create-card__panel-wrap__panel{
    position: absolute;
    top: 70px;
    right: 0;

    border-radius: 10px;
    background: var(--c_panelCreateCard);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.377);
}

.create-card__panel-wrap__panel::before{
    position: absolute;
    content: '';
    top: -14px;
    right: 58px;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 17px solid var(--c_panelCreateCard);
}

.create-card__panel-wrap__panel input{
    display: block;
}

/* Tarjeta -------------------------------------------------------------------*/

/* Fondo */
.panel__creator-card{
    position: relative;
    margin: 20px;

    display: flex;

    height: 400px;
    width: 600px;

    background: var(--c_creatorCardImgBackground);
    box-shadow: 0 5px 15px rgb(49, 49, 49);

    font-size: .9rem;

    transition: 0.5s ease-in-out;
}

/* Icono editar */
.panel__creator-card__edit{
    position: absolute;
    padding: 10px;

    z-index: 1;
    bottom: 0;
    right: 0;

    font-size: 1.5rem;
    color: var(--c_creatorCardFont);
    transition: 0.5s ease-in-out;
}

.panel__creator-card__edit > input{
    display: none;
}

.panel__creator-card__edit > label{
    cursor: pointer;
}

/* Panel izquierdo (Imagen) -------------------*/
.panel__creator-card__img-select{
    position: relative;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    
    min-width: 300px;
    max-height: 100%;

    background: var(--c_creatorCardImgBackground);
    color: var(--c_creatorCardPlaceHolder);
    
    font-weight: normal;
}

.panel__creator-card__img-select > input{
    display: none;
}

/* imagen */
.panel__creator-card__img-select > label > img{
    max-width: 250px;
    max-height: 325px;

    transition: 0.5s ease-in-out;
}

.panel__creator-card__img-select > label > img::before{
    position: absolute;
    content: "\0026A0  Sin imagen! \A";
    left: 0;

    width: 100%;

    background: var(--c_creatorCardImgBackground);
    color:var(--c_creatorCardPlaceHolder);
    
    text-align:center;
    font-size: 1.3rem;
    font-weight: normal;
}

/* Panel derecho -------------------*/
.panel__creator-card__details-select{
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    width: 300px;
    height: 100%;
    padding: 20px;
    
    color: var(--c_creatorCardFont);
    background: var(--c_creatorCardBackground);

    transition: 0.5s ease-in-out;
}

/* Icono color */
.details-select__color{
    position: absolute;
    top: 10px;
    right: 10px;
}

.details-select__color > input{
    position: absolute;
    z-index: -2;
    top: 5px;
}

.details-select__color > label > i{
    color: var(--c_creatorCardFont);
    
    font-size: 1.5rem;
}

/* Parte superior -------------------*/
.details-select__detail-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Titulo */
.details-select__detail-header__name > input{
    overflow: hidden;
    
    max-width: 90%;
    height: auto;

    background: transparent;

    color: var(--c_creatorCardFont);

    font-size: 1.9rem;
    font-weight: bold;
}

.details-select__detail-header__name > input:enabled::placeholder{
    opacity: 1;
}

.details-select__detail-header__name > input::placeholder{
    opacity: .4;
    color: var(--c_creatorCardFont);
}

.details-select__detail-header__name > input:focus{
    border-bottom: 1px solid var(--c_creatorCardFont);
}

/* Categoria */
.details-select__detail-header__category{
    position: relative;
    cursor: pointer;
    
    width: 140px;

    background: transparent;
}

.details-select__detail-header__category::before{
    position: absolute;
    content: '';
    pointer-events: none;

    right: 10px;
    bottom: 4px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid var(--c_creatorCardFont);

    color: var(--c_creatorCardFont);
    
}

.details-select__detail-header__category > select{
    cursor: inherit;
    
    width: 100%;

    background: var(--c_creatorCardBackground);
    color: var(--c_creatorCardFont);

    font-size: 1rem;
    font-weight: lighter;
}

/* Parte central  -------------------*/
.details-select__detail{
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    width: 100%;

    color: var(--c_creatorCardFont);
}

.details-select__detail > span{
    font-size: 0.8rem;
    font-weight: bold;
}

.details-select__detail > textarea{
    resize: none;
    overflow: hidden;

    width: 100%;
    height: 40px;

    background: transparent;
    color: var(--c_creatorCardFont);
    
    font-size: 1rem;
    font-weight: lighter;
}

.details-select__detail > textarea::placeholder{
    color: var(--c_creatorCardFont);
    opacity: .4;
}

.details-select__detail > textarea:enabled::placeholder{
    opacity: 1;
}

.details-select__detail > textarea:focus{
    border-bottom: 1px solid var(--c_creatorCardFont);
}

/* Size ------------------- */
.details-select__size-opc{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details-select__size-opc > span{
    font-size: 0.8rem;
    font-weight: bold;
}

.details-select__size-opc__size-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* items  */
.size-div__items{
    display: flex;
    justify-items: center;
    gap: 5px;
}

.size-div__items__item{ 
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 40px;
    height: 40px;
    
    transition: 0.5s ease-in-out;
}

.size-div__items__item > input{
    width: 100%;
    height: 100%;
    
    border: 1px solid var(--c_creatorCardFont);
    background: transparent;
    color: var(--c_creatorCardFont);
    
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
}

.size-div__items__item > input:focus{
    border-bottom: 1px solid var(--c_creatorCardFont);
}

.size-div__items__item > input::placeholder{
    color: var(--c_creatorCardFont);
    opacity: 0.4;
}

.size-div__items__item > input:enabled::placeholder{
    opacity: 1;
}

.size-div__items__item > input::-webkit-inner-spin-button,
.size-div__items__item > input::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

/* Add Delete Btn */
.size-div__add-delete-item > button{
    cursor: pointer;
    
    width: 25px;
    height: 25px;
    
    border-radius: 3px;
    color: var(--c_creatorCardFont);
    
    font-weight: bold;
    font-size: 1.1rem;
}

.size-div__add-delete-item > .add{
    background: var(--c_buttonAdd);
}

.size-div__add-delete-item > .add:hover{
    background: var(--c_creatorCardFont);
    color: var(--c_buttonAdd);
}

.size-div__add-delete-item > .delete{
    background: var(--c_buttonDelete);
}

.size-div__add-delete-item > .delete:hover{
    background: var(--c_creatorCardFont);
    color: var(--c_buttonDelete);
}

/* Footer ------------------- */
.details-select__add-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Precio */
.details-select__add-cart__price-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details-select__add-cart__price-detail > h2{
    font-size: 2rem;
    font-weight: bold;
}

.details-select__add-cart__price-detail > input{
    width: 60px;
    
    background: transparent;
    color: var(--c_creatorCardFont);

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.details-select__add-cart__price-detail > input:focus{
    border-bottom: 1px solid var(--c_creatorCardFont);
}

.details-select__add-cart__price-detail > input::placeholder{
    color: var(--c_creatorCardFont);
}

.details-select__add-cart__price-detail > input::-webkit-inner-spin-button,
.details-select__add-cart__price-detail > input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.details-select__add-cart__price-detail > h3{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Boton  */
.details-select__add-card > button{
    cursor: pointer;
    
    width: 130px;
    height: 40px;
    
    border: 1px solid var(--c_creatorCardFont);
    background: transparent;
    color: var(--c_creatorCardFont);

    font-size: 1.2rem;
    font-weight: bold;
}

.details-select__add-card > button:hover{
    background: var(--c_creatorCardFont);
    color: var(--c_creatorCardBackground);
}