:root{
    --c_navBar: #272727;
    --c_logo: #016fff;
    --c_logoFont: #ffffff;

    --c_on: #ebebeb;
    --c_off: #9c9c9c;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 20px 60px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--c_navBar);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.377);
}  

.navbar__logo{
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__logo > i{
    font-size: 1.9rem;
    color: var(--c_logo);
}

.navbar__logo > p{
    font-size: 1.3rem;
    font-weight: 400;
    
    color: var(--c_logoFont);
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1.9rem;
    color: var(--c_off);

    transition: 0.5s ease-in-out;
}

.navbar__menu > :hover{
    color: var(--c_on);
}

.navbar__menu > li > label{
    cursor: pointer;
}

.navbar__menu input{
    display: none;
} 