.navbar__menu__ligth-dark-mode > label > .fa-moon{
    display: none;
}

.navbar__menu__ligth-dark-mode > label > .fa-moon,
.navbar__menu__ligth-dark-mode > input:not(:checked) ~ label > .fa-sun
{
    display: none;
}

.navbar__menu__ligth-dark-mode > input:not(:checked) ~ label > .fa-moon{
    display: block;
}